services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: phishing_db
      POSTGRES_USER: phishing_user
      POSTGRES_PASSWORD: phishing_pass
    volumes:
      - postgres_data:/var/lib/postgresql/data

  mailhog:
    image: mailhog/mailhog
    ports:
      - "8025:8025"

  web:
    build: .
    command: sh -c "cd phishing_portal && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
    working_dir: /app
    ports:
      - "8000:8000"
    env_file:
      - .env.dev
    depends_on:
      - db
      - mailhog

volumes:
  postgres_data:

